.modelSection {
  height: 200vh;
  position: relative;
}

#modelContainer {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  background: red; /* debug */
}

body {
  height: 100%;
  margin: 0 auto;
  background-color: var(--bg);

  transition:
    background 0.3s ease,
    color 0.3s ease;
}

.hex-bg {
  height: 100vh;
  background: red;
}
