.modelSection {
  height: 200vh;
  position: relative;
}

#modelContainer {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  background: red; /* debug */
}

body {
  height: 100%;
  margin: 0 auto;
  background-color: var(--bg);

  transition:
    background 0.3s ease,
    color 0.3s ease;
}

.hex-bg {
  height: 100vh;

  background-image: url("data:image/svg+xml,\
  <svg xmlns='http://www.w3.org/2000/svg' width='60' height='52'>\
  <polygon points='30,0 60,15 60,37 30,52 0,37 0,15' \
  fill='none' stroke='gray' stroke-width='2'/>\
  </svg>");

  background-size: 60px 52px;
}
