<!DOCTYPE HTML>
<html>

<head>
	<link rel="stylesheet" href="cardStyle.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com">
	<link rel="stylesheet" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap">
</head>


<body>
	<div class="subsystemFrame">
		<div class="subsText">
			<h1>Business</h1>
			<h2>Thursday's at 6:00pm</h2>

			<hr class="subsBreak">
			<img src="tempWebPhotos/cncMill.png" class="subsImage" alt="A view into a CNC Mill with a large block of aluminum inside.">

			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada iaculis nibh ut ultrices.
				Phasellus rhoncus cursus sapien. Aliquam erat volutpat. Morbi augue arcu, ultrices quis tortor id,
				tristique suscipit nisl. Mauris blandit enim dignissim scelerisque vulputate. Nunc facilisis nec mi id
				varius. Duis non sagittis enim.</p>
			</div>

			<hr>

			<h2>Example Tasks</h2>
			<div>
				<ul class="exTaskList">
					<li>Lorem ipsum dolor sit amet bruv</li>
					<li>consectetur adipiscing elit </li>
					<li>Vestibulum malesuada iaculis nibh ut ultrices</li>
				</ul>
			</div>
		</div>
	</div>

	<button id="darkModeToggle">Dark Mode</button>
	<script src="main.js"></script>

</body>

</html>